
body{
    background-color: #F9F7F7;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

a{
    text-decoration: none;
    color: #DBE2EF;
}

.profilepic{
    border-radius: 100%;
}
.name{
    color: #112D4E;
}
.info{
    background-color: #3F72AF;
    color: #DBE2EF;
    text-align: left;
}
.info-row{
    width: 50%;
    margin: 5% auto 10% auto;
    text-align: left;
}

.personal-profile-pic{
    width: 25%;
    float: left;
    margin-right: 5%;
}
.pic-left{
    width: 25%;
    float: left;
    margin-right: 5%;
}
.pic-right{
    width: 25%;
    float: right;
    margin-right: 5%;
}
